body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section{
    padding: 20px;
}
a {
    color: #fff;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}